body {
  height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 2.5rem;
  color: #6757d9;
  margin-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

a {
  text-decoration: none;
  background-color: #fff;
  padding: 20px 40px;
  margin: 15px 0;
  font-size: 1.5rem;
  color: #6757d9;
  border-radius: 20px;
  transition: all 0.3s ease-in;
}

a:hover {
  background-color: #6757d9;
  color: #fff;
}
